<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>El Ahorcadito</title>
    <link rel="stylesheet" href="index.css"></link>

</head>
<body>

<div class="contenido-central">
    <div class="mensaje">Bienvenido al juego del Ahorcadito</div>
</div>

<div class="botones">
    <button onclick="window.location.href='game.html'">Jugar</button>
    <button onclick="window.location.href='config.html'">Configurar</button>
    <button onclick="window.close()">Salir</button>
</div>

</body>
</html>
